### Function -- A block of code resuable that perform a specific task. Function Take input and can return outputs. They allow you to oraganizee your code into smaller, more manageable peices and make it more modular  efficient and easier to read

In [ ]:
## FUNCTION

def func_name(arg1,arg2,arg3....):
    #code
    return value

## FUNCTION CALL
func_name(arg1,arg2,arg3....)

In [1]:
def greet(name) :
    print("Hello, " + name + "!")


greet("Himank")

Hello, Himank!

In [7]:
def emp_info1(name, age, designation):
    print("Name: " + name)
    print("Age: " + str(age))
    print("Designation: " + designation)

emp_info1("Himank", 21, "Software Developer")

Name: Himank
Age: 21
Designation: Software Developer

In [2]:
def emp_info(name, age, designition) :
    print("Name : ", name)
    print("Age : ", age)
    print("Designition : ", designition)

emp_info("Himank", 21, "Software Developer")

Name :  Himank
Age :  21
Designition :  Software Developer

# f-string

In [9]:
def emp_info3(name, age, designition) :

    print(f'My name is {name}. I am {age} old and I am a {designition}')

emp_info3("Himank", 23, "Data Scientist")

My name is Himank. I am 23 old and I am a Data Scientist

In [10]:
def emp_info3(name, age, designition) :

    print('My name is {}. I am {} old and I am a {}'.format( name, age, designition))

emp_info3("Himank", 23, "Data Scientist")

My name is Himank. I am 23 old and I am a Data Scientist

# Ways to define  a function

##### with argumrnt without return
##### without argument with return
##### with argument with return
##### without argument without return

## inbuilt function

In [17]:
lst = [12,123,123,12,312,31,23,123,12]

min(lst)
max(lst)
sorted(lst)
sum(lst)

771

In [21]:
def lenn(data) :

    count = 0
    for i  in data :
        count += 1
    return count

In [22]:
lenn(lst)

9

### Lambda Function --- anonymous function it is written in one line

In [24]:
x = lambda a, b : a+b

x(5,7)

12

In [25]:
x = lambda a  : a+ 7

x(5)

12

In [26]:
lam = lambda x: x + "How are you"
lam("Hello Himank, ")

'Hello Himank, How are you'

In [27]:
map(lambda a: a%2==0, lst)

In [30]:
even = list(filter(lambda a: a%2==0, lst))
even

[12, 12, 312, 12]

In [32]:
odd = list(filter(lambda a: a%2 !=0, lst))
odd

[123, 123, 31, 23, 123]