# Operators

### Arithmatic operator

In [1]:
a = 12
b = 132

a+b

144

In [2]:
a = 12
b = 132

a - b

-120

In [3]:
a = 1212
b = 132

a - b

1080

In [4]:
a = 12
b = 132

a * b

1584

In [5]:
a = 1222
b = 132

a / b

9.257575757575758

In [7]:
a = 1222
b = 132

a // b

9

### Comparison

In [12]:
10 == 20

False

In [13]:
x = 10

if x == 0 :
    print("x is zero")
else:
    print("x is not zero")

x is not zero

In [14]:
x = 10

if x != 0 :
    print("x is zero")
else:
    print("x is not zero")

x is zero

In [16]:
x = 10

if x <= 20 :
    print("True")
else:
    print("False")

True

In [17]:
x = 10

if x < 10 :
    print("True")
else:
    print("False")

False

In [18]:
x = 10

if x < 10 :
    print("True")
else:
    print("False")

True

### Logical Operator

In [20]:
a = 3
b = -5
c = 9

if a > 0 and b > 0 and c > 0:
    print("True")
else:
    print("False")

False

In [21]:
a = 3
b = -5
c = 9

if a > 0 and b < 0 and c < 0:
    print("True")
else:
    print("False")

False

In [24]:
a = 3
b = -5
c = 9

if a > 0 and b < 0 and c > 0:  # and Operator is used when u want to compare more than one condition 
    print("True")
else:
    print("False")

True

In [26]:
# not is True if your opearand is false

x = 9

if not x == 10:
    print("True")

True

In [27]:
x = 9 

if  x%3 == 0 :
    print("True")
else:
    print("False")

True

In [28]:
x = 9 

if not x%3 == 0 :
    print("True")
else:
    print("False")

False

In [29]:
x = 9 

if not x%5 == 0 :
    print("True")
else:
    print("False")

True

### Assignment Operator

In [31]:
a = 31

a += 3
a

34

In [32]:
a = 31

a -= 3
a

28

In [33]:
a = 31

a *= 3
a

93

In [34]:
a = 31

a /= 3
a

10.333333333333334

In [35]:
a = 31

a //= 3
a

10

### Membership Operator

In [39]:
x = 23
y = 12

lst = [11,12,14,15,17,24]

if x in lst :
    print("True")
else: 
    print("False")
    
if y in lst :
    print("True")
else: 
    print("False")

False
True

In [41]:
x = 23
y = 12

lst = [11,12,14,15,17,24]

if x not in lst :
    print("True")
else: 
    print("False")
    
if y not in lst :
    print("True")
else: 
    print("False")

True
False

Identity Operator

In [42]:
x = 23
y = 12

print(a is b)

False

In [43]:
x = 23
y = 12

print(a is not b)

True