# Python Fundamental

In [3]:
age = 19

age

19

In [4]:
print(type(age))

<class 'int'>

In [6]:
height = 5.21
height

5.21

In [7]:
print(type(height))

<class 'float'>

In [9]:
name = "Himank"
name

'Himank'

In [10]:
type(name)

str

In [11]:
5 == 6

False

In [12]:
5 ==5

True

In [13]:
5 != 6

True

In [14]:
a = True

In [15]:
type(a)

bool

In [16]:
name

'Himank'

## Identifiers

It can contain letter underscore(_) \n
Case senbsitive
cannot start with digit
pythomn keyword cannot be used as identifiers
indentifiers can be of any length

In [19]:
ab12 = 45
ab12

45

In [23]:
_as= 213
_as

213

In [24]:
12ab = 21

SyntaxError: invalid decimal literal (1633356270.py, line 1)

In [25]:
A = 12

In [30]:
a

True

In [28]:
A

12

In [31]:
if 5 == 23 :
    print("5 is equal to 23")
else:
    print("5 is not equal to 23")

5 is not equal to 23

## Comment 
Single line Comment - #
Multi line comment  - """ you can write anything here 
aadasd
ad
asdas
das
  """"