##### DATATYPE ---- A datatype in programming is a classification that specifies the type of value that a variable can hold. It determines what operations can be performed on the data. Common datatypes include integers, floating-point numbers, strings, booleans, and more complex types like arrays, objects, and classes. Each programming language has its own set of datatypes.

##### List -- collection of ordered and mutable element enclosed in square brackets [] List can contain element of differernt dataTypes  List is Hetrogenous

In [1]:
a = [1,2,34,54,"Himank"]
a

[1, 2, 34, 54, 'Himank']

In [4]:
type(a)

list

In [21]:
lst = [4,6,1.34,'sorav', True]
lst

[4, 6, 1.34, 'sorav', True]

In [25]:
lst.append(34)
lst

[4, 6, 1.34, 'sorav', True, [34], [65, 23, 23], [65, 23, 23], 34]

In [24]:
lst.append([65,23,23])
lst

[4, 6, 1.34, 'sorav', True, [34], [65, 23, 23], [65, 23, 23]]

In [27]:
lst.extend([22,231,456,"Himank"])
lst

[4,
 6,
 1.34,
 'sorav',
 True,
 [34],
 [65, 23, 23],
 [65, 23, 23],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank']

In [29]:
lst.append([a])
lst

[4,
 6,
 1.34,
 'sorav',
 True,
 [34],
 [65, 23, 23],
 [65, 23, 23],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank',
 [[1, 2, 34, 54, 'Himank']],
 [[1, 2, 34, 54, 'Himank']]]

In [30]:
lst[3]

'sorav'

In [32]:

lst.insert(4,'Hello')
lst[4]

'Hello'

In [35]:
lst.insert(3,'Hello')
lst

[4,
 6,
 1.34,
 'Hello',
 'Hello',
 'Hello',
 'sorav',
 'Hello',
 'Hello',
 True,
 [34],
 [65, 23, 23],
 [65, 23, 23],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank',
 [[1, 2, 34, 54, 'Himank']],
 [[1, 2, 34, 54, 'Himank']]]

In [37]:
lst.pop()
lst

[4,
 6,
 1.34,
 'Hello',
 'Hello',
 'Hello',
 'sorav',
 'Hello',
 'Hello',
 True,
 [34],
 [65, 23, 23],
 [65, 23, 23],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank']

In [38]:
lst.pop(4)

'Hello'

In [41]:
lst.remove("Hello")
lst

[4,
 6,
 1.34,
 'sorav',
 'Hello',
 'Hello',
 True,
 [34],
 [65, 23, 23],
 [65, 23, 23],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank']

In [43]:
lst.remove([65, 23, 23])

In [44]:
lst

[4,
 6,
 1.34,
 'sorav',
 'Hello',
 'Hello',
 True,
 [34],
 [65, 23, 23],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank']

In [52]:
lst

[4,
 6,
 1.34,
 'sorav',
 'Hello',
 'Hello',
 True,
 [34],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank']

In [54]:
lst

[4,
 6,
 1.34,
 'sorav',
 'Hello',
 'Hello',
 True,
 [34],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank']

In [57]:
lst.remove("Hello")
lst

[1.34,
 4,
 6,
 'sorav',
 True,
 [34],
 34,
 22,
 231,
 456,
 'Himank',
 22,
 231,
 456,
 'Himank']

In [58]:
lst.remove(True)

In [59]:
lst

[1.34, 4, 6, 'sorav', [34], 34, 22, 231, 456, 'Himank', 22, 231, 456, 'Himank']

In [63]:
lst.remove('sorav')
lst

[1.34, 4, 6, [34], 34, 22, 231, 456, 22, 231, 456]

In [65]:
lst.copy()

[1.34, 4, 6, [34], 34, 22, 231, 456, 22, 231, 456]

In [72]:
lst.reverse()
print(lst)

[1.34, 4, 6, [34], 34, 22, 231, 456, 22, 231, 456]

In [77]:
lst.remove(34)

In [79]:
lst.sort()
lst

[1.34, 4, 6, 22, 22, 231, 231, 456, 456]

In [82]:
lst.reverse()
print(lst)

[456, 456, 231, 231, 22, 22, 6, 4, 1.34]

In [84]:
lst2 = [1,14,151,152]

combined_list = lst.__add__(lst2)
combined_list

[456, 456, 231, 231, 22, 22, 6, 4, 1.34, 1, 14, 151, 152]

#### TUPLE = A tuple in Python is a collection of ordered and immutable elements. This means that once a tuple is created, you cannot change its values. Tuples are similar to lists, but they are defined with parentheses ()

In [86]:
my_tuple = (12,15,43,"Himank", 3.12)
my_tuple

(12, 15, 43, 'Himank', 3.12)

In [87]:
type(my_tuple)

tuple

In [90]:
my_tuple[3]

'Himank'

In [92]:
my_tuple[2]

43

In [95]:
my_tuple.count(43)

1

#### Dictionary = A dictionary in Python is a mutable, ordered collection of key-value pairs, where each key must be unique. Dictionaries are defined by curly braces {} and each key-value pair is separated by a colon :.

In [96]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [102]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [103]:
my_dict.values()

dict_values(['John', 30, 'New York'])

In [104]:
my_dict.items()

dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

In [106]:
my_dict['name']

'John'

In [107]:
my_dict['salary'] = 42323

In [108]:
my_dict['salary']

42323

In [109]:
my_dict

{'name': 'John', 'age': 30, 'city': 'New York', 'salary': 42323}

In [110]:
my_dict['salary']

42323

In [111]:
my_dict['Rating'] = [1,3,5,6,7,8]

In [112]:
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'salary': 42323,
 'Rating': [1, 3, 5, 6, 7, 8]}

In [113]:
my_dict['salary'] = 50000

In [114]:
my_dict

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'salary': 50000,
 'Rating': [1, 3, 5, 6, 7, 8]}

In [117]:
del my_dict['city']

In [118]:
my_dict

{'name': 'John', 'age': 30, 'salary': 50000, 'Rating': [1, 3, 5, 6, 7, 8]}

In [119]:
del my_dict

#### SET == a set is an unordered collection data type is used to store unique elements.It is mutable. It is defined by values separated by comma inside braces {}

In [121]:
s = {3,5,7,23,12,0.2,5,2}
s

{0.2, 2, 3, 5, 7, 12, 23}

In [124]:
s = {3,5,7,23,12,0.2,5,2, "ki", True}
s

{0.2, 12, 2, 23, 3, 5, 7, True, 'ki'}

In [126]:
s = {3,5,7,23,12,0.2,5,2,3,5,7, "ki", True}
s

{0.2, 12, 2, 23, 3, 5, 7, True, 'ki'}

In [127]:
type(s)

set

In [130]:
s = set([1,15,1561,12,12,12,1,2,2.2,"Hello"])
s

{1, 12, 15, 1561, 2, 2.2, 'Hello'}

In [133]:
type(s)

set

In [135]:
s.add(21)

In [136]:
s

{1, 12, 15, 1561, 2, 2.2, 21, 'Hello'}

In [140]:
s.add(True)
s

{1, 12, 15, 1561, 2, 2.2, 21, 'Hello'}

In [142]:
s.discard(2.2)

In [143]:
s

{1, 12, 15, 1561, 2, 21, 'Hello'}

In [149]:
s.pop()

s

{12, 15, 1561, 21, 'Hello'}

In [156]:
s

{12, 15, 21, 1561}

In [158]:
s.union({1,2,3})

{1, 2, 3, 12, 15, 21, 1561}

In [159]:
s.union({1,2,5,7,"Himank"})

{1, 12, 15, 1561, 2, 21, 5, 7, 'Himank'}

In [161]:
s1 = {3,1,5,7,78}
s1

{1, 3, 5, 7, 78}

In [162]:
s2 = {1,5,6,8,32}

In [163]:
s1.union(s2)

{1, 3, 5, 6, 7, 8, 32, 78}

In [164]:
s1.intersection(s2)

{1, 5}

In [165]:
s1.update({12,15,16,18,313,7})

In [166]:
s1

{1, 3, 5, 7, 12, 15, 16, 18, 78, 313}